
/*smooth transition on page scrolling from link click*/
html {
	scroll-behavior: smooth;
}

body {
     margin: 0px;
     padding: 0px;
     width: 100%;
     background: url('back5.jpg');
     background-attachment: fixed;
     font: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
     text-align: center;
     color: white;	
     /*page fade in effect*/
     opacity: 1;
  	 transition: 1s opacity;
}

/*page fade in effect*/
body.fade {
    opacity: 0;
    transition: none;
}

.navbar {
	width: 100%;
	background-color: #238AC7;
	font-size: 1.2em;
	border-top: 2px;
	position: fixed;
	/*making the nav on top of all elements, preventing overlap from headings, youtube, slider elements, etc.*/
	z-index: 9999;
}

.navbar-nav {
	padding: 0px;
	margin: 0px;
}

.navbar-brand {
	font-size: 1.1em;
	font-weight: 500;
}

.nav-link {
	font-size: 1.1em;
	font-weight: 500;
}

i {
    font-size: 30px;
}
/*hamburger*/
.custom-toggler.navbar-toggler {
  border-color: rgb(255,255,203);
} 

.fa-dragon {
	margin-right: 25px;
}

.fa-linkedin {
 /* background: #007bb5; LinkedIn blue not needed with current image */
  color: white;
}

.fa-github {
	color: white;
}

/*Bienvenue heading*/
h1 {
	font-size: 4em;
	padding: 45px;
	padding-top: 140px;
	font-style: italic;
}

/*section headings*/
h2	{
	font-size: 2.5em;
	padding: 20px;
	font-style: italic;
}

/*more about me section headings*/
h4 {
	padding: 15px;
}

p {
	font-size: 1.2em;
	padding-left: 60px;
	padding-right: 60px;
	text-align: center;
	text-shadow: 3px 3px 3px #093a8f;
}

/*Bienvenue intro text*/
.intro {
	font-size: 1.25em;
	padding-left: 175px;
	padding-right: 175px;
	text-align: center;
	text-shadow: 3px 3px 3px #093a8f;
}

/*invisible div so nav bar would not overlap section headings*/
.invis	{
	position: relative;
	top: -70px;
}

#picMe {
	width: 185px;
	margin: 30px;
	border-style: solid;
	border-color: #238AC7;
	border-radius: 50%;
	border-width: 5px;
}

hr {
  border: 0;
  border-top: 3px solid #238AC7;
  margin-top: 50px;
  margin-bottom: 50px;

}

#cats {
	width: 400px;
	border-radius: 5%;
	box-shadow: 1.5px 1.5px 5px #263672;
}

#caption {
	font-size: 1em;
	font-style: italic;
	padding-top: 7px;
}

/*image slider size*/
.d-block {
	height: 350px;
}

#contactText {
	color: white;
	font-size: 1.35em;
	font-style: italic;
	font-weight: 500;
	text-shadow: 3px 3px 3px #093a8f;
	text-align: center;
	margin: 10px;
}


.btn {
	margin: 10px;
	border-width: 0.5px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 1.3em;
	font-style: bold;
}

#btn-oui {
	box-shadow: 1.5px 1.5px 5px #0c6607;
}

#btn-non {
	box-shadow: 1.5px 1.5px 5px #093a8f;
}

/*message & comment sections appearing after oui/non button click*/
#message {
	font-size: 1.3em;
	font-style: italic;
	display: absolute;
	width: 20%;
}

input[type=text] {
  width: 30%;
  padding: 10px 15px;
  margin: 10px;
  box-sizing: border-box;
  border-radius: 8px;
}

#commentaire {
  width: 50%;
  padding: 10px 15px;
  margin: 10px;
  box-sizing: border-box;
  border-radius: 8px;
  height: 110px;
}

#btn-soumettre {
	box-shadow: 1.5px 1.5px 5px #093a8f;

}